/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

.navbar li {
  display:inline-block;
  float:left;
}

.navbar_buttons {
  text-decoration:none;
  border: 1px solid black;
  background-color: black;
  vertical-align: middle;
  text-align: center;
  width:100px;
  height:50px;
  line-height: 50px;
}

.navbar_buttons button {
  display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
