.stream-bar {
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
  background-color: #262626;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  margin: 0;
  border-top: 1px solid #595959;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
 }

 .stream-play-button {
   align-self: flex-start;
   color: white;
   font-size: 28px;
   align-self: flex-start;
   float: left;
   margin-right: 20px;
 }

 .stream-play-button:hover {
   cursor: pointer;
 }

 .stream-album-image {
   height: 50px;
   width: 50px;
   align-self: flex-start;
   float: left;
   margin-right: 20px;
 }

 .stream-track-title {
   color: white;
   font-family: Varela Round, Consolas, sans-serif;
   align-self: flex-end;
   float: left;
   margin-right: 20px;
 }

 .stream-track-time {
   color: white;
   font-family: Varela Round, Consolas, sans-serif;
   margin-right: 20px;
   margin-left: 20px;
 }

 .stream-section {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-right: 1px solid #1a1a1a;
   border-left: 1px solid #1a1a1a;

 }

 .progressbar-container {
   width: 600px;
   height: 10px;
   background-color: black;
   margin-right: 20px;
   border-radius: 5px;
 }

 .progressbar-progress {
   background-color: white !important;
   border-radius: 5px;
 }
