.user-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}


.user-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1a1a1a;
  height: 250px;
  padding-top: 40px;
}

.profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.username {
  font-family: Varela Round, Consolas, sans-serif;
  color: white;
}

.user-tracklist {
  display: flex;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 62px;
  margin-right: 0px;
  left: 0;
  right: 0;
  height: auto;
  width: 800px;
}

.user-tracks-title {
  color: white;
  align-self: center;
  font-family: 'Audiowide', cursive;
  font-size: 24px;
}

.user-tracks-title {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.user-upload-form {
  width: 200px;
  margin: 0px;
  display: flex;
}

.user-track-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;

  border-radius: 10px;
  background-color: #323232;
  box-shadow: 4px 4px 2px #191919;
}

.user-tracks-form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: baseline;
  padding-top: 40px;
  width: 100%;
}

.upload-form-title {
  color: white;
  font-family: Varela Round, Consolas, sans-serif;
  font-weight: 300;
}

.user-drop-zone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 190px;
  height: 190px;
  border: 1px dotted #999999;
}

.user-drop-text {
  font-family: Varela Round, Consolas, sans-serif;
  font-size: 10px;
  color: white;
  opacity: 0.6;
}

.userFormLabel {
  font-family: Varela Round, Consolas, sans-serif;
  font-weight: 300;
  color: white;
  opacity: 0.6;
}

.userFormLabel:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.user-track-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 720px;
}

.track-playlist-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid white;
}

.tab {
  color: white;
  background: black;
  border: none;
  height: 100%;
  width: auto;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.tab:hover {
  color: #ff7b29;
  cursor: pointer;
}

.user-playlists {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.user-playlist-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.playlist-title {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid white;
  font-family: Varela Round, Consolas, sans-serif;
}

.playlist-name {
  color: white;
}

.fa-plus-square-o {
  margin-right: 10px;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.fa-minus-square-o {
  margin-right: 10px;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.fa-plus-square-o:hover {
  cursor: pointer;
  color: #ff7b29;
}

.fa-minus-square-o:hover {
  cursor: pointer;
  color: #ff7b29;
}

.playlist-track {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  border-bottom: 1px solid white;
  width: 96%;
}

.playlist-track-title {
  color: white;
  height: auto;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Varela Round, Consolas, sans-serif;
}

.playlist-track-album {
  height: 100%;
  width: 30px;
  margin-right: 10px;
}

.create-playlist-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.create-playlist-text {
  border-radius: 5px;
  color: white;
  background-color: #262626;
  border: 1px solid white;
  border-right: none;
}

.create-playlist-button {
  background-color: black;
  color: white;
  border-color: white;
  border: 1px solid white;
  border-radius: 5px;
  border-left: none;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.create-playlist-button:hover {
  cursor: pointer;
  cursor: pointer;
  color: #ff7b29;
}
